git+https://github.com/zepheira/amara.git#egg=amara
git+https://github.com/dpla/akara.git#egg=akara
git+https://github.com/zepheira/freemix-akara.git#egg=freemix-akara
git+https://github.com/dpla/xmltodict#egg=xmltodict
git+https://github.com/dpla/zen.git#egg=zen

argparse
python-dateutil==2.4.2
timelib==0.2.4
simplejson==3.16.0
six>=1.8.0,<1.9
CouchDB==0.9
nose==1.3.7
geopy==1.20.0
python-cloudfiles==1.7.11
ordereddict==1.1
jsonschema==2.3.0
git+https://github.com/mredar/markupsafe.git#egg=MarkupSafe
#MarkupSafe==0.23
git+https://github.com/mredar/jsonpath.git#egg=jsonpath
requests==2.31.0
extruct==0.7.2
rdflib==4.2.2
python-magic==0.4.15